[buildout]
extends = http://static.voteit.se/defaults-production-arche2.cfg

parts +=
    redis
    redis-build
    redis-server

eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.printable
    voteit.dutt
    voteit.groups
    voteit.combined_simple
    voteit.motion
    pyramid_redis_sessions
    arche_hashlist
    pyramid_retry


[redis]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://download.redis.io/redis-stable.tar.gz


[redis-build]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${redis:location} && make


[redis-server]
recipe = collective.recipe.scriptgen
cmd = ${redis:location}/src/redis-server
arguments =
    ${buildout:directory}/etc/redis.conf


[crontab-pack]
# m h   dom mon dow | pack tuesday night
times = 00 03   * *  *


[sources]
voteit.groups = git https://github.com/VoteIT/voteit.groups.git
arche_hashlist = git https://github.com/ArcheProject/arche_hashlist.git
